<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GemBox.Spreadsheet" publicKeyToken="b1b72c69714d4847" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-41.3.30.1101" newVersion="41.3.30.1101" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
