<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="GemBox.Spreadsheet" publicKeyToken="b1b72c69714d4847" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-45.0.35.1060" newVersion="45.0.35.1060" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>